@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        font-family: 'Inter', sans-serif;
    }

    .btn {
        @apply px-4 py-2 rounded-md text-sm font-medium;
    }

    .btn-primary {
        @apply bg-blue-500 text-white border border-blue-500;
    }

    .btn-primary:hover {
        @apply bg-blue-600;
    }

    .btn-primary:active {
        @apply bg-blue-700;
    }

    btn-darger {
        @apply bg-red-500 text-white;
    }

    .btn-danger:hover {
        @apply bg-red-600;
    }

    .btn-danger:active {
        @apply bg-red-700;
    }

    .btn-danger-outline {
        @apply border border-red-500 text-red-500;
    }

    .btn-danger-outline:hover {
        @apply bg-red-500 text-white;
    }

    .btn-danger-outline:active {
        @apply bg-red-600;
    }

}

/* Temas */
:root {
    --bg-primary: #FAFAFA;
    --bg-secondary: #FFFFFF;
    --text-primary: #0e1726;
    --text-secundary: #888ea8;
    --divider: #e5e7eb;
    /* Cores do menu */
    --hover-bg: #F3F3F6;
}

.dark {
    --bg-primary: #18181B;
    --bg-secondary: #0E0E10;
    --text-primary: #FFFFFF;
    --text-secundary: #888ea8;
    --divider: #2D2D30;
    /* Cores do menu */
    --hover-bg: #1F1F23;
}

/* Cores das tegs de tarefas */
.fill-pessoal {
    fill: #2563eb;
    color: #2563eb;
}

.fill-trabalho {
    fill: #10b981;
    color: #10b981;
}

.fill-social {
    fill: #f59e0b;
    color: #f59e0b;
}

.fill-important {
    fill: #eb2c56;
    color: #eb2c56;
}

/* Divisor de links no menu */
.divider {
    border-top: 1px solid var(--divider);

}

/* Overlay do modal */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* z-index: 500; */
}

/* Desabilitar scroll quando modal estiver aberto */
.modal-open {
    overflow: hidden;
}